<%= form_for @list, url: url, method: method, role: 'form', class: 'form' do |f| %>
  <div class="form-group">
    <%= f.label :name, 'List Name:' %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description:' %>
    <%= f.text_area :description, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.radio_button :secret, false, checked: true %>
    <%= f.label :secret_false, 'Share' %>

    <%= f.radio_button :secret, true %>
    <%= f.label :secret_true, 'Keep private' %>
  </div>

  <%= f.hidden_field :user_id, value: @user_id %>
  <%= f.hidden_field :id, value: params[:id] %>

  <%= f.submit submit_text, class: 'btn btn-primary' %>
<% end %>
