<% content_for :sidebar do %>
  <%= render partial: 'shared/user_lists' %>
<% end %>

<h3>Create a Gear List</h3>

<%= form_for @list, url: { action: "create" }, role: 'form', class: 'form' do |f| %>
  <div class="form-group">
    <%= f.label :name, 'List Name:' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :description, 'Description:' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

    <%= f.hidden_field :user_id, value: @user_id %>

    <%= f.submit 'Create Gear List', class: 'btn btn-default' %>
<% end %>
