<div class="panel panel-default" >
  <div class="panel-heading"><%= list[:name] %></div>
  <div class="panel-body">
    <%= list[:description] %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Section</th>
        <th>Category</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Weight (gms)</th>
      </tr>
    </thead>
    <% list[:sections].each do |section| %>
      <% section[:items].each do |item| %>
        <tr>
          <td><%= section["name"] %></td>
          <td><%= item["category"] %></td>
          <td><%= item["name"] %></td>
          <td><%= item["quantity"] %></td>
          <td><%= item["weight"] %></td>     
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <th>Subtotal for <%= section["name"].capitalize %>:</th>
        <td></td>
        <th><%= section[:subtotal] %></th>            
      </tr>
    <% end %>
    <tfoot> 
      <tr>
        <td></td>
        <td></td>
        <th>Total Weight:</th>
        <td></td>
        <th><%= list[:total_weight] %></th>
      </tr>
    </tfoot>
  </table>
</div>
