<div class='panel panel-default gearlist-panel' >
  <div class='panel-heading'>
    <h4>
      <% if show? %>
        <%= list[:name] %>
      <% else %>
        <%= link_to list[:name], list_path(list[:id]) %>
      <% end %>
      <% if list[:secret] %>
        <i class="fa fa-lock pull-right"></i>
      <% end %>
    </h4>
    <p>by: <%= list[:user_name] %></p>
  </div>
  <div class='panel-body'>
    <%= list[:description] %>
    <% if authorized? && show? %>
      <%= render partial: 'shared/right_icon', 
        locals: { icon_name: 'pencil', url: '/lists/' + params[:id] + '/edit' } %>
    <% end %>
  </div>
  <div class='table-responsive'>
    <table class='table list-table'>
      <thead>
        <tr>
          <th>Section</th>
          <th>Category</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Weight (oz.)</th>
          <% if show? %>
            <th class='text-center'>Edit</th>
            <th class='text-center'>Remove</th>
          <% end %>
        </tr>
      </thead>
      <% list[:sections].each do |section| %>
        <% section[:items].each do |item| %>
          <tr>
            <td><%= section['name'] %></td>
            <td><%= item['category'] %></td>
            <td><%= item['name'] %></td>
            <td><%= item['quantity'] %></td>
            <td><%= gms_to_oz(item['weight']) %></td>
            <% if show? %>
              <td class='text-center'>
                <%= link_to '/lists/' + list[:id].to_s + '/items/' + item['id'].to_s + '/edit' do %>
                  <i class='fa fa-pencil'></i>
                <% end %>
              </td>
              <td class='text-center'>
                <%= link_to '/lists/' + list[:id].to_s + '/items/' + item['id'].to_s, method: :delete do %>
                  <i class='fa fa-times'></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <th>Subtotal for <%= section['name'].capitalize %>:</th>
          <td></td>
          <th><%= gms_to_oz(section[:subtotal]) %></th>
          <% if show? %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      <% end %>
      <tfoot> 
        <tr>
          <td></td>
          <td></td>
          <th>Total Weight:</th>
          <td></td>
          <th><%= gms_to_oz(list[:total_weight]) %></th>
          <% if show? %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
