<!DOCTYPE html>
<html>
  <head>
    <title>Penguin Gear Lists</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <%= render 'layouts/header' %>
      <div class="col-md-9">
        <%= render partial: 'shared/flash_messages' %>
        <%= yield %>
      </div>
      <div class="col-md-3">
        <%= yield :sidebar %>
      </div>
    </div>
  </body>
</html>
