<!DOCTYPE html>
<html>
  <head>
    <title>Penguin Gear List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Josefin+Sans|Fredericka+the+Great' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-offset-4 col-md-2'>
          <%= render partial: 'shared/flash_messages' %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
